<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ludit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone"
        android:supportsRtl="true"
        android:theme="@style/FullScreen"
        android:usesCleartextTraffic="true">

        <activity android:name=".SliderActivity" android:configChanges = "orientation"/>
        <activity android:name=".SplashScreenActivity">
        </activity>
        <activity android:name=".user.MenuActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".user.CadastroActivity" />
        <activity android:name=".user.PerfilActivity" />
        <activity android:name=".user.ConfiguracoesActivity" />
        <activity android:name=".user.FilhoCadastroActivity" />
        <activity android:name=".user.FilhoActivity" />
        <activity android:name=".user.PontuacaoActivity" />
        <activity android:name=".atividades.AtividadesActivity"/>
        <activity android:name=".atividades.LivrosActivity"/>
        <activity android:name=".atividades.VideosActivity"/>
        <activity android:name=".atividades.SongActivity" />
        <activity android:name=".atividades.VideoPlayer" android:screenOrientation="landscape"/>
        <activity android:name=".atividades.JogosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".games.MatematicaActivity" />
        <activity android:name=".games.ReciclagemActivity" android:screenOrientation="landscape"/>
        <activity android:name=".games.FormasActivity" android:screenOrientation="landscape" />
        <activity android:name=".games.GeniusActivity" />
        <activity android:name=".games.PinguimActivity" android:screenOrientation="landscape" />
    </application>
</manifest>